src/main/resources/wsdl/CO_FNDEI_UNITOFMEASUREMENT_RL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/FNDEI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://sap.com/xi/FNDEI" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="IF_IF_UnitOfMeasurementMasterDataReplicationBundleRequest_Out">
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
            <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP_IF_OP_UnitOfMeasurementMasterDataReplicationBundleRequest_Out">
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true
        </sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false
        </sapblock:enableBlocking>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes
        </saptrhnw05:required>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true</saprmnw05:enableWSRM>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/FNDEI" xmlns="http://sap.com/xi/FNDEI"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
            <xsd:element name="UnitOfMeasurementMasterDataReplicationBundleRequest"
                         type="UnitOfMeasurementMasterDataReplicationBundleRequestMessage"/>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessDocumentMessageHeader">
                <xsd:sequence>
                    <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="UUID" minOccurs="0" type="UUID"/>
                    <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded"
                                 type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderParty">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
                    <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
                    <xsd:element name="ContactPerson" minOccurs="0"
                                 type="BusinessDocumentMessageHeaderPartyContactPerson"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
                    <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4"
                                 type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4"
                                 type="LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="35"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScope">
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
                    <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
                    <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeInstanceID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeInstanceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeInstanceID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessSystemID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ContactPersonInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ContactPersonInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ContactPersonInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryDiallingCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Description">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="languageCode" type="LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="EmailURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:language">
                    <xsd:maxLength value="9"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Name.Content">
                        <xsd:attribute name="languageCode" type="LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="MEDIUM_Name.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NumberValue">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:complexType name="PartyInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyStandardID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyStandardID.Content">
                        <xsd:attribute name="schemeAgencyID" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="3"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyStandardID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="13"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PhoneNumber">
                <xsd:sequence>
                    <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
                    <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
                    <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
                    <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
                    <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
                    <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PhoneNumberAreaID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberExtensionID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberSubscriberID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="30"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="UUID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:length value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UnitOfMeasurement">
                <xsd:sequence>
                    <xsd:element name="Code" type="UnitOfMeasurementCode"/>
                    <xsd:element name="ISOCode" minOccurs="0" type="UnitOfMeasurementCode"/>
                    <xsd:element name="CommercialDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
                    <xsd:element name="TechnicalDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
                    <xsd:element name="LongDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
                    <xsd:element name="AllownonwholeIndicator" type="Indicator"/>
                    <xsd:element name="PreferredMappingIndicator" type="Indicator"/>
                    <xsd:element name="Category" type="NumberValue"/>
                    <xsd:element name="NumberOfDecimalPlaces" type="NumberValue"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getUnitOfMeasurementRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CommercialDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getUnitOfMeasurementResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="UnitOfMeasurement" type="tns:UnitOfMeasurement"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="UnitOfMeasurementCode">
                <xsd:sequence>
                    <xsd:element name="content">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:token">
                                <xsd:maxLength value="3"/>
                                <xsd:minLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="codeListName">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:complexType>
            <xsd:complexType name="UnitOfMeasurementMasterDataReplicationBundleRequestMessage">
                <xsd:sequence>
                    <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
                    <xsd:element name="UnitOfMeasurementReplicationRequestMessage" minOccurs="0" maxOccurs="unbounded"
                                 type="UnitOfMeasurementReplicationRequestMessage"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UnitOfMeasurementReplicationRequestMessage">
                <xsd:sequence>
                    <xsd:element name="ListCompleteTransmissionIndicator" type="Indicator"/>
                    <xsd:element name="TransmissionStartDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="UnitOfMeasurement" minOccurs="0" maxOccurs="unbounded" type="UnitOfMeasurement"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UnitOfMeasurementMasterDataReplicationBundleRequest">
        <wsdl:part name="UnitOfMeasurementMasterDataReplicationBundleRequest"
                   element="tns:UnitOfMeasurementMasterDataReplicationBundleRequest"/>
    </wsdl:message>
    <wsdl:portType name="UnitOfMeasurementMasterDataReplicationBundleRequest_Out">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem applicationComponent="CA-GTF-EI"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF_IF_UnitOfMeasurementMasterDataReplicationBundleRequest_Out"/>
        </wsp:Policy>
        <wsdl:operation name="UnitOfMeasurementMasterDataReplicationBundleRequest_Out">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IF_OP_UnitOfMeasurementMasterDataReplicationBundleRequest_Out"/>
            </wsp:Policy>
            <wsdl:input message="tns:UnitOfMeasurementMasterDataReplicationBundleRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding type="tns:UnitOfMeasurementMasterDataReplicationBundleRequest_Out"
                  name="CO_FNDEI_UNITOFMEASUREMENT_RL">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="UnitOfMeasurementMasterDataReplicationBundleRequest_Out">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding type="tns:UnitOfMeasurementMasterDataReplicationBundleRequest_Out"
                  name="CO_FNDEI_UNITOFMEASUREMENT_RL_S12">
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="UnitOfMeasurementMasterDataReplicationBundleRequest_Out">
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CO_FNDEI_UNITOFMEASUREMENT_RL_service">
        <wsdl:port name="CO_FNDEI_UNITOFMEASUREMENT_RL_port_soap11" binding="tns:CO_FNDEI_UNITOFMEASUREMENT_RL">
            <soap:address location="https://host:port/"/>
        </wsdl:port>
        <wsdl:port name="CO_FNDEI_UNITOFMEASUREMENT_RL_port_soap12" binding="tns:CO_FNDEI_UNITOFMEASUREMENT_RL_S12">
            <wsoap12:address location="https://host:port/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>